$text-light: hsl(0, 0%, 81%);
$text-lighter: hsl(210, 46%, 95%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #edf2f8;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-template-areas:
    "grid1 grid1 grid2 grid5"
    "grid3 grid4 grid4 grid5";
}

.testimonial {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px -10px hsl(0, 0%, 81%);
}

.grid-1 {
  grid-area: grid1;
  background-color: hsl(263, 55%, 52%);
}

.grid-2 {
  grid-area: grid2;
  background-color: hsl(217, 19%, 35%);
}

.grid-3 {
  grid-area: grid3;
  background-color: white;
}

.grid-4 {
  grid-area: grid4;
  background-color: hsl(219, 29%, 14%);
}

.grid-5 {
  grid-area: grid5;
  background-color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
